@import '../../../../../public/assets/colors.scss';

.form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%; // Limita el ancho máximo en pantallas grandes

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-label {
      margin: 0.5rem;
    }

    .error-message {
      color: #d9534f;
      font-size: 0.875rem;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
    }

    .error-message small {
      display: block;
      line-height: 1.4;
    }
  }

  .button-container {
    .btn {
      margin-top: 1rem;
      width: 100%;
      border: none;
      background-color: $primary-color;
      color: $light-color;
      cursor: pointer;
      padding: 0.8rem;
      font-size: 1rem;
    }
  }

  // Media Queries para pantallas pequeñas
  @media (max-width: 768px) {
    padding: 15px;

    h2 {
      font-size: 1.5rem;
    }

    .form-group {
      .form-label {
        font-size: 0.875rem;
      }

      .form-control {
        font-size: 1rem;
      }
    }

    .button-container .btn {
      font-size: 0.875rem;
      padding: 0.7rem;
    }
  }

  @media (max-width: 480px) {
    padding: 10px;

    h2 {
      font-size: 1.25rem;
    }

    .form-group {
      .form-label {
        font-size: 0.8rem;
      }

      .form-control {
        font-size: 0.9rem;
      }
    }

    .button-container .btn {
      font-size: 0.875rem;
      padding: 0.6rem;
    }
  }
}
