.layout {
  display: grid;
  grid-template-columns: 340px auto;
  height: 100vh;

  .sidebar {
    overflow-y: auto;
  }

  .content {
    background-color: #ffffff;
    overflow-y: auto;
  }
}

@media (max-width: 900px){
  .layout {
    display: block;

    .sidebar {
      position: relative;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 1;
    }


  }
}
