<app-basic-border>
  <div class="flex flex-row tracking-tighter">
    <div class="label">
      {{label}}
    </div>
    <div class="flex items-center ml-auto cursor-pointer">
      <mat-icon (click)="openModal()"> search </mat-icon>
    </div>
  </div>
</app-basic-border>

<app-basic-modal
  [isVisible]="isModalVisible"
  (onClose)="handleModalClose()"
  [titlle]="label"
>
  <app-filter-table
    [dataUri]="dataUri"
    [filterKey]="filterKey"
    [placeholder]="placeholder"
    (selectedRow)="handlerSelectedRow($event)"

  >
  </app-filter-table>
</app-basic-modal>
