<div class="flex flex-row items-center justify-center">
  <h4 class="first-letter:capitalize title">administración de usuarios</h4>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar usuario'"
  >
  </app-basic-autocomplete>
</div>
<hr>
<div class="flex justify-end gap-2">
  <app-basic-button
    label="crear"
    icon="add"
    (click)="navegateCreate()"
  >
  </app-basic-button>
</div>

<app-master-table
  [dataSource]="dataSource"
  [columns]="columns"
  [idKey]="idKey"
  [overflow]="overflow"
  (overflowDetected)="handleOverflow($event)"
>
</app-master-table>
<div class="w-25">
  <app-modal-input
    [label]="'Selección de usuario'"
    [dataUri]="'security/user/all'"
    [filterKey]="'usuario'"
  >
  </app-modal-input>
</div>
