<div class="flex flex-row items-center justify-center">
  <h4 class="first-letter:capitalize">administración de usuarios</h4>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar usuario'"
  >
  </app-basic-autocomplete>
</div>
<hr>
<div class="flex justify-end gap-2">
  <app-basic-button
    label="crear"
    icon="add"
    (click)="navegateCreate()"
  >
  </app-basic-button>
</div>

<div *ngIf="dataSource.length > 0; else noData">
  <app-table
    *ngIf="!overflow"
    [columns]="columns"
    [data]="dataSource"
    [idKey]="idKey"
    (overflowDetected)="handleOverflow($event)"
  >
  </app-table>
  <app-mini-table
    *ngIf="overflow"
  >
  </app-mini-table>
</div>

<ng-template #noData>
  <p>No hay datos disponibles. Haz clic en "Cargar".</p>
</ng-template>


<button (click)="openModal()">Abrir Modal</button>
<app-basic-modal [isVisible]="isModalVisible" (onClose)="handleModalClose()"></app-basic-modal>