## para realizar instalacion
//registry=http://localhost:8081/repository/npm-proxy/

## para realizar pull pero desde la nube
registry=https://registry.npmjs.org/

## para publicar
//registry=http://localhost:8081/repository/angular-pack/
always-auth=true
//localhost:8081/repository/npm-proxy/:_auth="YWRtaW46YWRtaW4xMjM="
//localhost:8081/repository/angular-pack/:_auth="YWRtaW46YWRtaW4xMjM="
