@import '../../../../public/assets/colors';

.login-container {
    z-index: 0 !important;
    height: 100vh;
    .login-form {
      border-radius: 8px;
      width: 500px;
    }
  }

.container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
  //background: rgb(196,196,196);
  background: linear-gradient(90deg, rgb(243, 243, 243) 0%, #bbd8f4 100%);

  .image{
    width: auto;
    height: 50vh;
    object-fit: cover;
  }
}



.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Dos columnas para pantallas grandes

  @media (max-width: 570px) {
    grid-template-columns: 1fr; // Una columna para pantallas pequeñas

    .container {
      display: none; // Oculta el primer div con la clase "image"
    }
  }
}
