@import '../../../../public/assets/colors';

.login-container {
    z-index: 0 !important;
    height: 100vh;
    .login-form {
      border-radius: 8px;
      width: 500px;
    }
  }

.image{
  background: rgb(196,196,196);
  background: linear-gradient(96deg, rgba(196,196,196,1) 0%, rgba(255,255,255,1) 100%);
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Dos columnas para pantallas grandes

  @media (max-width: 570px) {
    grid-template-columns: 1fr; // Una columna para pantallas pequeñas

    .image {
      display: none; // Oculta el primer div con la clase "image"
    }
  }
}
