@import '../../../../public/assets/colors';

.login-container {
    height: 100vh;  
    .login-form {
      border-radius: 8px;
      width: 500px;
    }
  }

.image{
  background: rgb(196,196,196);
  background: linear-gradient(96deg, rgba(196,196,196,1) 17%, rgba(255,255,255,1) 100%);
}
  