@import '../../../../../../public/assets/colors.scss';

.header{
    background-color: $background-header;
    color: $color-header;
}

.search-bar{

    border: none;
    outline: none; 
    width: 280px;

    &:focus{
        box-shadow: none;
        outline: 0.18rem solid $border-focus-input;
    }
}