<div class="flex justify-between flex-row p-2  header">
    <div class='logo text-xl flex justify-center items-center'>Tesoreria compensación </div>
    <div class="form-control text-base search-bar rounded-xl flex"> 
        <mat-icon class="icon">search</mat-icon>
        <input 
            type="text"
            class="input-searchBar ml-2 text-base"
            placeholder="búsqueda"
        >
        <mat-icon class="icon">help_outline</mat-icon>
    </div>
    <div class='flex justify-center items-center gap-4'>
        <mat-icon>notifications_none</mat-icon>
        <mat-icon>error_outline</mat-icon>
        <div class="flex flex-row justify-center items-center gap-1 icon-container p-2 rounded-xl">
            <mat-icon>person</mat-icon>
            Diego
        </div>
        <div class="flex flex-row justify-center items-center gap-1 mr-3 icon-container p-2 rounded-xl">
            <mat-icon>logout</mat-icon>
            Desconectar
        </div>
    </div>
</div>