<app-basic-header
  [headerName]="'adminitración de menus'"
>
  <app-basic-autocomplete
    class="ml-auto"
    [placeholder]="'Buscar menu'"
  >
  </app-basic-autocomplete>
</app-basic-header>

<div class="flex justify-end gap-2">
  <app-basic-button
    label="crear"
    icon="add"
    (click)="navegateCreate()"
  >
  </app-basic-button>
</div>

<app-master-table
  [dataSource]="dataSource"
  [columns]="columns"
  [idKey]="idKey"
  [overflow]="overflow"
  (overflowDetected)="handleOverflow($event)"
>

  <ng-template #actions let-row>
    <div class="gap-4">
      <app-router-icon-button
        icon="link"
        color="#4caf50"
        [size]="24"
        route="/home/asignacion-menu-submenu"
      >
      </app-router-icon-button>

      <app-router-icon-button
        icon="merge"
        color="#2196f3"
        [size]="24"
        route="/home/asignacion-menu-recurso"
      ></app-router-icon-button>

    </div>
  </ng-template>

</app-master-table>
