<div *ngIf="subjections.length > 0; else noData2">
    <app-basic-autocomplete
      [suggestions]="subjections"
      [onSelectHandler]="filter()">
    </app-basic-autocomplete>
</div>

<ng-template #noData2>
    <p>No hay datos disponibles. Haz clic en "Cargar".</p>
</ng-template>

<div *ngIf="dataSource.length > 0; else noData">
    <app-table
      [columns]="columns"
      [data]="dataSource"
      [idKey]="idKey"
    >
    </app-table>
</div>

<ng-template #noData>
    <p>No hay datos disponibles. Haz clic en "Cargar".</p>
</ng-template>
