<div class="px-2 py-2 container">
    <div class="flex items-center">
        <div class="flex control-panel-container py-1 px-2 rounded-xl"
            (mouseenter)="ActiveShowAction(controlPanelModule)"
            (mouseleave)="DeactiveShowAction()"
        >
            <div 
                #controlPanelModule
                class="text-sm font-medium control-panel-module">
                {{ panelLabel }}
            </div>
            <div 
                class="action-container"
                [ngClass]="{
                    'active': showActions,
                    'deactive': !showActions
                }"
            >
                <mat-icon>
                    keyboard_arrow_down
                </mat-icon>
            </div>
        </div>
        <mat-icon
            class="icon"
        >
            keyboard_arrow_right
        </mat-icon>
    </div>
</div>
