@import '../../../../../../public/assets/colors.scss';

.container{
    background-color: $color-panel-control;

    .control-panel-container{

        .control-panel-module{
            color: $text-color-panel-control;
            cursor: pointer;
        }
    
        .icon{
            color: $icon-panel-control;
            cursor: pointer;
    
            transition: transform 0.5s ease; 
    
            &:hover {
                color: $text-color-panel-control;
                transform: rotateZ(90deg); 
            }
        }

        .deactive {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            transition: transform 1s ease, opacity 1s ease;
        }
        
        .active {
            color: $text-color-panel-control;
            opacity: 1;
            visibility: visible;
            transition: transform 1s ease, opacity 1s ease;
        }

        &:hover{
            background-color: $icon-container-hover;
        }
    }

}