<app-basic-card
  titulo="lineas"
>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="line"
  >
  </canvas>
</app-basic-card>

<app-basic-card
  titulo="barras"
>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="bar"
  >
  </canvas>
</app-basic-card>

<app-basic-card
  titulo="pie"
>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="pie"
  >
  </canvas>
</app-basic-card>

<app-basic-card
  titulo="bubble"
>
  <canvas baseChart
          [datasets]="bubbleChartDatasets"
          [options]="bubbleChartOptions"
          [legend]="bubbleChartLegend"
          [type]="'bubble'"
  >
  </canvas>
</app-basic-card>

<app-basic-card
  titulo="rabar"
>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="radar"
  >
  </canvas>
</app-basic-card>

<app-basic-card
titulo="dona"
>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type='doughnut'
  >
  </canvas>
</app-basic-card>

<app-basic-card
  titulo="scatter"
>
  <canvas baseChart
          [datasets]="scatterChartDatasets"
          [options]="scatterChartOptions"
          [legend]="scatterChartLegend"
          type='scatter'
  >
  </canvas>
</app-basic-card>

<app-basic-card
titulo="indicadores"
>
  <ngx-gauge
    [value]="gaugeValue"
    type="arch"
    [thick]="gaugeThickness"
    cap="round"
    [size]="gaugueSize"
    [label]="gaugeLabel"

  >

  </ngx-gauge>

  <ngx-gauge
    [value]="gaugeValue"
    type="full"
    [thick]="gaugeThickness"
    cap="round"
    [size]="gaugueSize"
    [label]="gaugeLabel"

  >

  </ngx-gauge>

  <ngx-gauge
    [value]="gaugeValue"
    type="semi"
    [thick]="gaugeThickness"
    cap="round"
    [size]="gaugueSize"
    [label]="gaugeLabel"

  >

  </ngx-gauge>
</app-basic-card>
