<h4> lineas </h4>
<div>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="line"
  >
  </canvas>
</div>
<h4> barras </h4>
<div>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="bar"
  >
  </canvas>
</div>
<h4> pie </h4>
<div>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          type="pie"
  >
  </canvas>
</div>

