<div class="flex flex-row p-2 container text-sm">
  <div class="flex items-center">
    <!-- Panel principal -->
    <app-actionPanel [panelLabel]="'Control Panel'">
      <app-user-list></app-user-list>
    </app-actionPanel>

    <mat-icon class="icon">
      keyboard_arrow_right
    </mat-icon>

    <!-- Rutas dinámicas -->
    <div *ngFor="let route of routes; let isLast = last" class="flex items-center">
      <ng-container *ngIf="route.hasActionPanel; else showRouteName">
        <app-actionPanel [panelLabel]="route.name">
          <!-- Componente dinámico con inputs -->
          <ng-container *ngIf="route.actionPanelComponent">
            <ng-container
              *ngComponentOutlet="route.actionPanelComponent.component;
              injector: getInjector(route.actionPanelComponent.injectors)">
            </ng-container>
          </ng-container>
        </app-actionPanel>
      </ng-container>

      <!-- Mostrar el nombre de la ruta si no tiene panel -->
      <ng-template #showRouteName>
        <span>{{ route.name }}</span>
      </ng-template>

      <!-- Ícono de separación si no es el último -->
      <mat-icon class="icon" *ngIf="!isLast">
        keyboard_arrow_right
      </mat-icon>
    </div>
  </div>
</div>
