<div class="table-container mt-2 rounded-2xl tracking-tighter leading-tight px-1">

  <table>
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          class="p-4 header text-sm"
        >
          <div
            class="px-4 py-2 rounded-md"
            tabindex="0"
          >
            {{ column.header }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of paginatedData"
        class="row-container rounded-2xl text-sm"
      >
        <td *ngFor="let column of columns">
          <ng-container [ngSwitch]="column.foldable" class="flex items-center">
            <app-actionPanel
              *ngSwitchCase="true"
              [panelLabel]="row[column.field]"
            >
              <app-table-list [id]="row[idKey]"/>
            </app-actionPanel>

            <span *ngSwitchDefault>
              <ng-container *ngIf="isBoolean(row[column.field]); else stringTemplate">
                <mat-icon
                  *ngIf="row[column.field]; else inactiveIcon"
                  class="sun"
                >
                  wb_sunny
                </mat-icon>
                <ng-template #inactiveIcon>
                  <mat-icon class="moon">dark_mode</mat-icon>
                </ng-template>
              </ng-container>

              <ng-template #stringTemplate>
                {{ row[column.field] }}
              </ng-template>
            </span>


          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
</div>

<div class="pagination ml-auto" *ngIf="paginated">
  <button
    (click)="changePage(-1)"
    [disabled]="currentPage === 1"
    aria-label="Página anterior">
    Anterior
  </button>
  <span>Página {{ currentPage }} de {{ totalPages }}</span>
  <button
    (click)="changePage(1)"
    [disabled]="currentPage === totalPages"
    aria-label="Página siguiente">
    Siguiente
  </button>
</div>
